.accPage {
    display: flex;
    justify-content: left;
    margin: 100px 0 0 500px;
}

    .accPage .accInfo {
        display: block;
        justify-content: center;
        align-items: center;
        
    }

        .accPage .accInfo .accH1 {
            text-align: left;
            color: lightgray;
            font-size: 50px;
            font-family: Akkurat-Mono;
        }

        .accPage .accInfo .accH2 {
            text-align: left;
            color: lightgray;
            font-size: 35px;
            font-family: Akkurat-Mono;
        }

        .accPage .accInfo p {
            text-align: left;
            color: cornflowerblue;
            font-size: 20px;
            font-family: Akkurat-Mono;
        }

