/* Add a black background color to the top navigation */
.topnav {
    background-color: #363636;
    overflow: hidden;
    width: auto;
    font-family: 'Courier New';
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #d6d6d6;
        text-align: center;
        padding: 25px 25px;
        text-decoration: none;
        font-size: 25px;
        width: 300px;
    }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
            background-color: #04AA6D;
            color: white;
        }

body {
    background-color: #242323;
    font-family: 'Courier New';
    
}

.maintopic {

}

    .maintopic .header {
        color: #d6d6d6;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
    }

    .maintopic .topicbody {
        color: #d6d6d6;
        font-size: 20px;
        text-align: center;
        padding-left: 25%;
        padding-right: 25%;
        line-height: 30px;
    }

    .maintopic .spac {
        display: block;
        width: 1200px;
        height: 1200px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 200px;
    }

    .maintopic .spacb {
        display: block;
        width: 1200px;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 200px;
    }

    .maintopic .imglabel {
        color: #d6d6d6;
        font-size: 50px;
        text-align: center;
        font-style: italic;
    }

    .maintopic .uia {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .maintopic .uib {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .maintopic .uic {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .maintopic .test1 {
        display: block;
        width: 900px;
        height: 700px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 200px;
    }

    .maintopic .output{
        margin:auto;
    }